<div>
    <a href="https://github.com/webpro">webpro</a>/<a href="https://github.com/webpro/{{ page.title }}">
        {{ page.title }}
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMi42IiBoZWlnaHQ9IjMxLjgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMTkxNzE3IiBkPSJNMTYuMyAwYy05IDAtMTYuMyA3LjMtMTYuMyAxNi4zIDAgNy4yIDQuNyAxMy4zIDExLjEgMTUuNS44LjEgMS4xLS40IDEuMS0uOHYtMi44Yy00LjUgMS01LjUtMi4yLTUuNS0yLjItLjctMS45LTEuOC0yLjQtMS44LTIuNC0xLjUtMSAuMS0xIC4xLTEgMS42LjEgMi41IDEuNyAyLjUgMS43IDEuNSAyLjUgMy44IDEuOCA0LjcgMS40LjEtMS4xLjYtMS44IDEtMi4yLTMuNi0uNC03LjQtMS44LTcuNC04LjEgMC0xLjguNi0zLjIgMS43LTQuNC0uMS0uMy0uNy0yIC4yLTQuMiAwIDAgMS40LS40IDQuNSAxLjcgMS4zLS40IDIuNy0uNSA0LjEtLjUgMS40IDAgMi44LjIgNC4xLjUgMy4xLTIuMSA0LjUtMS43IDQuNS0xLjcuOSAyLjIuMyAzLjkuMiA0LjMgMSAxLjEgMS43IDIuNiAxLjcgNC40IDAgNi4zLTMuOCA3LjYtNy40IDggLjYuNSAxLjEgMS41IDEuMSAzdjQuNWMwIC40LjMuOSAxLjEuOCA2LjUtMi4yIDExLjEtOC4zIDExLjEtMTUuNS0uMS05LTcuNC0xNi4zLTE2LjQtMTYuM3oiLz48L3N2Zz4=" alt="{{ page.title }} at GitHub" style="width:32px;">
    </a>
</div>
